<template>

  <div repeat.for="tweet of tweets" class="ui blue fluid card">
    <div>
      <img class="ui ${tweet.img ? 'fluid' : 'hidden'} image" src=${tweet.img}>
    </div>
    <div class="content">
      ${tweet.tweet}
    </div>
    <div class="extra content">
      <a route-href="route: userprofile; params.bind: { id: tweet.tweeter._id }"> ${tweet.tweeter.firstName} ${tweet.tweeter.lastName} </a>
      <div class="right floated meta">${tweet.readableDate}</div>
    </div>
  </div>
</template>
