<template>
  <div class="ui segment">
    <div class="title">
      <a class="ui small right floated ${isFollowing ? 'red' : 'blue' } labeled icon button"
         click.delegate="followToggle()">
        <i class="${isFollowing ? 'minus' : 'plus' } icon"></i> ${isFollowing ? 'Unf' : 'F' }ollow
      </a>
      <h1>${user.firstName} ${user.lastName}</h1>

    </div>
    <div class="ui divider"></div>
    <div id="acc" class="ui accordion">
      <div class="title">
        <i class="dropdown icon"></i>
        ${user.followers.length} Followers
      </div>
      <div class="content">
        <div repeat.for="user of user.followers">
          <a route-href="route: userprofile; params.bind: { id: user._id }">${user.firstName} ${user.lastName}</a>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="title">
        <i class="dropdown icon"></i>
        ${user.following.length} Following
      </div>
      <div class="content">
        <div repeat.for="user of user.following">
          <a route-href="route: userprofile; params.bind: { id: user._id }">${user.firstName} ${user.lastName}</a>
        </div>
      </div>
    </div>
  </div>

</template>
